*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
body{
  background-color: #ffff;
}
html{
  font-size: 62.5% !important;
  @include respond(tab-land){ //width < 900
    font-size: 56.25%; //9px 
  }  
  @include respond(tab-port){ //width < 600
    font-size: 50%; // 1 rem is 8px
  }
  @include respond(big-desk){
    font-size: 75%; // 12px
  }                         
}
body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
  color: white;
}


